<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Muli:300,400,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/herostyle.css">
	<script src="js/modernizr.js"></script>

	<title>Vidi Veni</title>
</head>
<body class="404">
	<header class="cd-header">
		<div id="cd-logo"><a href="#0"><img src="../images/v_icons/v.png" alt="Logo" id="logoImage"></a></div>

		<nav class="cd-primary-nav">
			<ul>
				<li><a href="#0">Home</a></li>
				<li><a href="#0">Activities</a></li>
				<li><a href="#0">Account</a></li>
			</ul>
		</nav>
	</header>

<h1>404 page not found</h1>
<p>You should go back to the Home page and find some new friends.</p>
</body>
</html>
