<link rel="stylesheet" href="../../public/css/activities.css">

<<<<<<< HEAD
<div class="containter">
    <div class="row">
=======
<div class="container"> 
    <div class="row"> 
>>>>>>> fred
       	<div class="col-md-6 col-md-offset-3 jumbotron">
        <h1>This is where one of the tables will load.</h1>
        
       	</div>
    </div>
</div>

<div class="jumbotron" id="eventContainer">
    <div>
        
    </div>
</div>



<!-- so how is this going to look.
//that's going to display an event, based on two condition

//first condition is a set of results from a query
passed in from the find a meetup page'

//the second is going to be a based on the create a meetup page

There is going to be a script that makes a call to the model.
On the find a meetup it displays exactly the user search for.
User is going to make a request that is going to send a post
the database
-->
