<style>
    #map {
      height: 400px;
      width: 500px;
    }
    #maps-location {
      width: 300px;
    }
    input[name=location] {
      width: 400px;
    }
</style>
<div id="map"></div>

<script type="text/javascript">
  var map;
  var service;
  var geocoder;
  var infoWindow;
  var infoWindowContent;
  var mapSearchInput;
  var searchBox;
  var infoBoxDiv;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: new google.maps.LatLng(39, -95),
      zoom: 3
    });

    geocoder = new google.maps.Geocoder();
    service = new google.maps.places.PlacesService(map);
    //var clickHandler = new MyClickHandler(map, service);
    infoBoxDiv = document.getElementById("info-box");
    infoWindow = new google.maps.InfoWindow;
    infoWindowContent = infoBoxDiv;
    infoWindow.setContent(infoWindowContent);

    mapSearchInput = document.getElementById('maps-location');
    searchBox = new google.maps.places.SearchBox(mapSearchInput);

    map.controls[google.maps.ControlPosition.TOP_LEFT].push(mapSearchInput);
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    var markers = [];
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      // Clear out the old markers.
      markers.forEach(function(marker) {
        marker.setMap(null);
      });
      markers = [];

      // For each place, get the icon, name and location.
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        //console.log(place);
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        var icon = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };

        var marker = new google.maps.Marker({
          map: map,
          title: place.name,
          position: place.geometry.location,
        });
        
        marker.addListener('click', function(mark) {
          mark.stop();
          $("#create-event-form input[name=location]").val(place.name+", "+place.formatted_address);
          $("#create-event-form input[name=placeId]").val(place.id);
          $("#create-event-form input[name=lnglat]").val(place.geometry.location);

          console.log(place);
          infoWindow.close();
          infoWindow.setPosition(place.geometry.location);
          $(infoBoxDiv).children(".place-name").text(place.name);
          $(infoBoxDiv).children(".place-address").text(place.formatted_address);
          infoWindow.open(map);

        });

        // Create a marker for each place.
        markers.push(marker);

        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });


    $("#create-event-form input[name=location]").on("keyup", function(event){
      $("#maps-location").val($(this).val());
    });
}

 
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2X7T4HEj2LSuGNacjtQgrOnuSkaemMRA&callback=initMap&libraries=places"
    async defer></script>



  {{!--https://www.google.com/maps/embed/v1/MODE?key=YOUR_API_KEY&parameters
  Where:
api key = AIzaSyB2X7T4HEj2LSuGNacjtQgrOnuSkaemMRA
{MODE} is one of place, directions, search, view, or streetview.
{YOUR_API_KEY} is your free API key.
parameters include optional parameters, as well as mode-specific parameters.--}}

{{!--<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyB2X7T4HEj2LSuGNacjtQgrOnuSkaemMRA
    &q=78653" allowfullscreen>
</iframe>--}}