<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Muli:300,400,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="./css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="./css/herostyle.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<title>Vidi Veni</title>
</head>
<body>
	<!-- <header class="cd-header">
		<div id="cd-logo"><a href="#0"><img src="../images/v_icons/v.png" alt="Logo" id="logoImage"></a></div>

		<nav class="cd-primary-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/activities">Activities</a></li>
				<li><a href="/account">Account</a></li>
			</ul>
		</nav>
	</header> -->

	<header class="cd-header">
	{{> navbar}}
	</header>

	<section class="cd-hero">
		<ul class="cd-hero-slider autoplay">
			<li class="selected cd-bg-video">
        <div class="cd-full-width">
          <h2>Vidi Veni</h2>
          <p>Get a group together to go to the 'ol swimming hole</p>
          <a href="/findevent" class="cd-btn">Find a MeetUp</a>
		  <a href="/createevent" class="cd-btn">Create a MeetUp</a>
        </div> <!-- .cd-full-width -->

        <div class="cd-bg-video-wrapper" data-video="./videos/water">
          <!-- video element will be loaded using jQuery -->
        </div> <!-- .cd-bg-video-wrapper -->
			</li>


				<li class="cd-bg-video">
					<div class="cd-full-width">
						<h2>Vidi Veni</h2>
						<p>Meet some new people at a coffee shop to chat about your latest ideas</p>
						 <a href="/findevent" class="cd-btn">Find a MeetUp</a>
						 <a href="/createevent" class="cd-btn">Create a MeetUp</a>
					</div> <!-- .cd-full-width -->

					<div class="cd-bg-video-wrapper" data-video="./videos/meeting">
						<!-- video element will be loaded using jQuery -->
					</div> <!-- .cd-bg-video-wrapper -->
				</li>


				<li class="cd-bg-video">
					<div class="cd-full-width">
						<h2>Vidi Veni</h2>
						<p>Hit the coasters and bring a buddy to hold onto</p>
						 <a href="/findevent" class="cd-btn">Find a MeetUp</a>
						 <a href="/createevent" class="cd-btn">Create a MeetUp</a>
					</div> <!-- .cd-full-width -->

					<div class="cd-bg-video-wrapper" data-video="./videos/rollercoaster">
						<!-- video element will be loaded using jQuery -->
					</div> <!-- .cd-bg-video-wrapper -->
				</li>

			<li class="cd-bg-video">
				<div class="cd-full-width">
					<h2>Vidi Veni</h2>
					<p>Tear it up at the park and take turns catching the footage</p>
				 	<a href="/findevent" class="cd-btn">Find a MeetUp</a>
					<a href="/createevent" class="cd-btn">Create a MeetUp</a>
				</div> <!-- .cd-full-width -->

				<div class="cd-bg-video-wrapper" data-video="./videos/skateboarding">
					<!-- video element will be loaded using jQuery -->
				</div> <!-- .cd-bg-video-wrapper -->
			</li>

			<li class="cd-bg-video">
				<div class="cd-full-width">
					<h2>Vidi Veni</h2>
					<p>Be total beer snobs and explore the local breweries</p>
					 <a href="/findevent" class="cd-btn">Find a MeetUp</a>
					 <a href="/createevent" class="cd-btn">Create a MeetUp</a>
				</div> <!-- .cd-full-width -->

				<div class="cd-bg-video-wrapper" data-video="./videos/beer">
					<!-- video element will be loaded using jQuery -->
				</div> <!-- .cd-bg-video-wrapper -->
			</li>
		</ul> <!-- .cd-hero-slider -->

	<main class="cd-main-content">
		<p>
			Veni, Vidi, Vici - I came, I saw, I conquered
			<br>
			<span style="align-text:center;color:#d44457">See what's going on around you and go</span>
		</p>
		<p>
			It's so easy to get caught up in the digital world and lose touch with the things that really matter. Life is too short to take things for granted. Vidi, Veni is a community for people who want to commit to the activities they enjoy. Our platform is full of events made by the people who enjoy them, and are looking for people like you, with similar interest, to attend. So what are you waiting for? Plan your next event!
		</p>
		<p>
			If you see something you like, come to it. <span style="color:#d44457">Vidi, Veni.</span>
		</p>
		<button><a href="#0" class="cd-btn">Get Started</a></button>
	</main> <!-- .cd-main-content -->

{{> account}}
<div>{{> footer}}</div>
<script src="./js/jquery-2.1.1.js"></script>
<script src="./js/hero.js"></script><!-- Resource jQuery -->
</body>
</html>
