<div id="cd-logo"><a href="#0"><img src="../images/v_icons/v.png" alt="Logo" id="logoImage"></a></div>

<nav class="cd-primary-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/activities">Activities</a></li>
    <!-- <li><a href="/account">Account</a></li> -->
    <li>{{> accountName}}</li>
  </ul>
</nav>
