<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 2</title>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="./images/v_icons/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="./images/v_icons/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="./images/v_icons/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="./images/v_icons/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./images/v_icons/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="./images/v_icons/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/v_icons/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/v_icons/favicon-16.png">
  <link rel="apple-touch-icon" href="./images/v_icons/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./images/v_icons/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./images/v_icons/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./images/v_icons/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./images/v_icons/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./images/v_icons/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./images/v_icons/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./images/v_icons/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./images/v_icons/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="./images/v_icons/favicon-144.png">
  <meta name="msapplication-config" content="./images/v_icons/browserconfig.xml">
  <!-- ****** faviconit.com favicons ****** -->

  <!-- loading google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="./css/activities.css"> -->


</head>
<body>
  {{{body}}}
</body>
    <script src="./js/view.js"></script>
</html>
