<!-- <h1> Welcome to Project 2's Website!</h1>


{{> partial1}} -->

<!-- navigation-->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>Menu<i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top"><img src="../images/v_icons/v.png" style="height:100%"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" href="#about" style="color:black"></a>
              </li>
              <li>
                  <a class="page-scroll" href="/activities" style="color:black">Activities</a>
              </li>
              <!-- <li>
                  <a class="page-scroll" href="#portfolio" style="color:black">Portfolio</a>
              </li> -->
              <li>
                  <a class="page-scroll" href="/account" style="color:black">Account</a>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- end navigation -->

<!-- start header -->
<header>
      <div class="header-content">
          <div class="header-content-inner">
              <h1 id="homeHeading">Vidi, Veni</h1>
              <!-- <hr style="border-color:black"> -->
              <p>Social currency for meeting people and actually doing things</p>

              <a href="/find" class="btn btn-primary btn-xl page-scroll">Find a MeetUp</a>
              <a href="/create" class="btn btn-primary btn-xl page-scroll">Create a MeetUp</a>

          </div>
      </div>
  </header>
<!-- end header -->

<!-- start activities section -->
<!-- <section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" style="color:white">Activites</h2>

                <div class="leftActivities">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="rightActivities">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                      <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

            </div>
        </div>
    </div>
</section> -->
<!-- end activities section -->

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 style="color: white">What is Vidi Veni?</h2>
                <hr class="light">
                <p style="color: white">Vidi Veni makes it easy for you to meet up with people. Catch a pickup basketball game, take a spontaneous trip, grab dinner, or hit up the bars. Life is about doing things and making memories.</p>
                <p style="color: white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="#newaccount" class="btn btn-default btn-xl">Create an account</a>
            </div>
        </div>
    </div>
</section>

<footer>
<p>Copyright Three Stooges, 2017</p>
</footer>
