body {
  background-image: url(../images/depression.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Muli', sans-serif;
}

h1, h2, h3, p {
  color: white;
  text-align: center;
}
