.events-title {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
  
}

.event-list {
  border: #2c343b solid 4px; 
   text-align: center; 
   padding-bottom: 10px;
   margin: 15px;
}

.event-info-container {
  border:  rgba(212, 68, 87, 0.9) solid 3px; 
  text-align: left;
  color: #2c343b;
  float: right;
  overflow: fixed;
  width: 66%;
  margin-bottom: 10px;
}

.event-image-container {
  border: rgba(212, 68, 87, 0.9) dotted 1.5px; 
  float: left; 
  margin: 0px;
}

.event-image-container img {
  padding: 10%;
  overflow: hidden; 
  clear: both;
}

#event-attendees {
  margin: 0px;
}

