body {
    margin: 0px;
}
.jumbotron {
    background-color: #d44457;
     position: relative;
     color: #f2f2f2;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
  background-size: cover;
  margin: 0px;

}

ul {
    list-style: none;
}

#divider {
    background-color: gold;
    height: 100px;
    width: 100%;
    margin: 0px;  
}
#searchEvent {
    clear: both; 
    text-align: center;
    font-size: 2em;
    overflow: hidden;
}