body {
    padding-top: 90px;
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #110a10;
    font-family: 'Muli', sans-serif;
}

/*input {
  margin-top: 1%;
  font-family: 'Muli', sans-serif;
}

label {
  margin-top: 1%;
}*/

.loginSection {
  margin-top: 10%;
  margin-left: 38%;
}

h1,h2,h3,h4,h5,p {
  color: #ffffff;
  font-family: 'Muli', sans-serif;
}
form {

}
