<link href="./css/reset.css" rel="stylesheet">
<link href="./css/herostyle.css" rel="stylesheet">
<link href="./css/myaccount.css" rel="stylesheet">

<header class="cd-header">
{{> navbar}}
</header>

<div id="createUserSection">
<h1 class="centered">Create</h1>
<!-- <p id="pleasework">TEST</p> -->
<form action="/createaccount", method="POST">
  <label for="username"><h3>User Name</h3></label><br>
  <input type="text" name="username"/><br>
  <label for="email"><h3>Email</h3></label><br>
  <input type="email" name="email"/><br>
  <label for="password"><h3>Password</h3></label><br>
  <input type="password" name="password"/><br>
  <br>
  <!-- <button type="submit">Submit</button> -->

  <button type="submit" class="btn btn-default centered" aria-label="Left Align">
    <span class="glyphicon glyphicon-user" aria-hidden="true"> Submit</span>
  </button>
</form>
</div>
