<h1>Create Event</h1>
<h2>{{name}}</h2>
<h2>{{email}}</h2>

{{> googleMap}}

<form action="/createevent", method="POST">
  <label for="name"><h3>Event Name</h3></label>
  <input type="text" name="name"/><br>
  <label for="description"><h3>Event Description</h3></label>
  <input type="text" name="description"/><br>
  <label for="numAttendees"><h3>Free slots?</h3></label>
  <input type="text" name="numAttendees"/><br>
  <label for="category"><h3>Category</h3></label>
  <input type="text" name="category"/><br>
  <button type="submit">Submit</button>
</form>
