<!-- <link rel="stylesheet" href="./css/reset.css"> --> <!-- CSS reset -->
<link rel="stylesheet" href="./css/login.css"> <!-- Resource style -->
<script src="js/modernizr.js"></script> <!-- Modernizr -->

<header class="cd-header">
{{> navbar}}
</header>

<div class="loginSection">
  <h1>You are not currently logged in</h1>
  <form id="login" action="/login", method="POST">
    <label for="email"><h5>Email</h5></label><br>
    <input type="email" name="email"/><br>
    <label for="password"><h5>Password</h5></label><br>
    <input type="password" name="password"/><br><br>
    <!-- <button type="submit">Submit</button> -->
    <button type="submit" class="btn btn-default centered" aria-label="Left Align">
      <span class="glyphicon glyphicon-user" aria-hidden="true"> Submit</span>
    </button>
  </form>
<BR>
<a href="/auth/google" style="color: #ffffff">Log In with Google</a>
</div>
