
<h2>More Awesome Content</h2>

{{#if loggedIn}}
  <br><br>
  <h3>You are logged in as : {{name}}</h3>
  <h3>With Email: {{email}}</h3>
{{/if}}

{{#unless loggedIn}}
  <br><br>
  <h3>You are not logged in</h3>
{{/unless}}
