<link rel="stylesheet" href="./css/activities.css">	
<div class="events-title col-md-12"> 
  <h1>Results:</h1>
</div>

{{#each results}}
  <div class="event-list"> 
    <div class="container">
      <div class='col-md-4 event-image-container'> 
        <img src="http://placehold.it/150x100">
        <div>
          <h4 id="event-attendees">3 Spots Remaining! </h4><br>
          <a href="#"><input type="submit" id="joinButton" class="btn btn-primary active" value="Join Event"></a>       
        </div>
      </div>
    </div>
  </div>
{{/each}}